
<!DOCTYPE html>
<html>
    <header>
        <!-- {% load static %} -->
        <title>Authentication App</title>
    </header>
    <body class="body">
        <h1 style="text-align: center;">WEL-COME to FINANCEPEER Portal</h1>
        <br> <br> <br>
        <h3 style="text-align: center;">please login : </h3>
        <form method="POST" action="{% url 'home_page' %}" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="login-fields" style="text-align: center;">
                <label>User name</label>
                <input name="userName" type="text"><br><br>
                <label>Password</label>
                <input name="User_password" type="Password"><br> <br>
                <button type="submit">Login</button>
            </div>
        </form>

    </body>
</html>